* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  color: #dee2e6;
  background-color: #1c2022;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/*SEARCHING LIST*/

.App {
  display: flex;
  align-items: stretch;
}

.movie-list {
  background-color: #25292d;
  width: 400px;
  margin: 20px;
  border-radius: 0.9rem;
  height: 100vh;
}

.movie-item {
  display: flex;
  align-items: center;
  gap: 20px;
  border-bottom: 1px solid #343a40;
  padding: 14px 22px;
}

.movie-item-desc {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.movie-item span {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 5px;
}

.poster {
  height: 65px;
  width: auto;
}
