:root {
  --color-primary: #6741d9;
  --color-primary-light: #7950f2;
  --color-text: #dee2e6;
  --color-text-dark: #adb5bd;
  --color-background-100: #343a40;
  --color-background-500: #2b3035;
  --color-background-900: #212529;
  --color-red: #fa5252;
  --color-red-dark: #e03131;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  color: var(--color-text);
  background-color: var(--color-background-900);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

html,
body {
  height: 100%;
}

/*SEARCHING LIST*/

.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.box-content {
  flex: 1;
  display: flex;
  gap: 20px;
  margin: 20px 50px;
  margin-top: 0;
}

.movie-list {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: var(--color-background-500);
  border-radius: 0.9rem;
}

.main-header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: var(--color-primary);
  height: 62px;
  border-radius: 0.6rem;
  margin: 20px;
  padding: 0 30px;
}

.movie-item {
  display: flex;
  align-items: center;
  gap: 20px;
  border-bottom: 1px solid var(--color-background-100);
  padding: 14px 22px;
}

.movie-item-desc {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.movie-title {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 5px;
}

.poster {
  height: 65px;
  width: auto;
}

.brand,
.found-results {
  flex: 1;
}

.found-results {
  text-align: end;
  font-size: 17px;
}

.found-results span {
  font-weight: bold;
}

.search {
  color: var(--color-text);
  font-size: 16px;
  border: 0;
  border-radius: 0.5rem;
  height: 38px;
  background-color: var(--color-primary-light);
  padding-left: 15px;
  flex: 2;
}

.search::placeholder {
  color: var(--color-text-dark);
}

.search:focus {
  outline: none;
  box-shadow: 0 2.4rem 2.4rem rgba(0, 0, 0, 0.1);
  transform: translateY(-2px);
}

.btn-list {
  background-color: var(--color-background-900);
  position: absolute;
  top: 12px;
  right: 12px;
  color: var(--color-text);
  font-size: 15px;
  font-weight: bold;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  border: 0;
}
